[user]
	name = Mark Atkin
	email = mgatkin@gmail.com
[core]
	autocrlf = false
	safecrlf = true
    excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	ci = commit
	st = status
# vim: set noet
